footer.dark
     .container.px-5.pt-5
          .row.justify-content-center
               .col-md-4
                    h5 Về #{APP_NAME}
                    ul
                         li
                              a(href='/about') Giới thiệu về #{APP_NAME}
                         li
                              a(href='/contact') Liên hệ
                         li
                              a(href='/contact') Chính sách bảo mật
                         li
                              a(href='/contact') Vận chuyển
               .col-md-4
                    h5 Hổ Trợ Chăm Sóc Khách Hàng
                    ul
                         li
                              a(href='/FAQ') Câu hỏi thường gặp
                         li
                              a(href='/help') hổ trợ báo cáo
                         li
                              a(href='/forums') Forums
     .footer-copyright.py-2.text-white.text-center
          p.m-0 &copy; #{APP_NAME} - #{new Date().getFullYear()}
