:root {
	font-size: 16px;
}

body {
	height: 100%;
	width: 100%;
}

main {
	height: auto;
	min-height: 80vh;
}

.dark {
	background-color: #2b2f31;
	color: #fff;
}

.page-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.dark ul {
	list-style-type: none;
}

footer.dark a {
	color: #fff;
}

.user-avatar-small {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	/* border: 1px solid #eee; */
	margin-right: 0.5rem;
	/* background-color: #999; */
}

.user-avatar {
	width: 20rem !important;
	height: 20rem !important;
	background-size: cover !important;
	background-position: center !important;
}

.food-image {
	width: 5rem !important;
	height: 5rem !important;
	background-size: cover !important;
	background-position: center !important;
}

.league .card-img-top {
	background-color: #efefef;
}

.update {
	position: relative;
}

.league .delete,
.donors .delete,
.update .edit {
	z-index: 100;
	position: absolute;
	top: -1rem;
	right: -1rem;
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.league:hover .delete,
.donors:hover .delete,
.update:hover .edit {
	opacity: 1;
}

.option i[class*="trash"] {
	color: #dc3545;
}

.option i[class*="pencil"] {
	color: #ffc107;
}

.show-less-3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* number of lines to show */
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

.show-less-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	line-clamp: 1;
	-webkit-box-orient: vertical;
}

.menu {
	position: fixed;
}

.avatar {
	width: 52px;
	height: 52px;
	object-fit: cover;
}

.avatar-lg {
	width: 192px;
	height: 192px;
	object-fit: cover;
	border-radius: 50%;
	margin: 1rem 0;
}

.card-img-top {
	object-fit: cover;
}

.logo-image {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: #999;
	object-fit: cover;
}

.min-3 {
	min-height: 300px;
}

.top-1st > td:nth-child(1) {
	color: var(--bs-yellow);
	font-size: 1.7rem !important;
}
.top-2nd > td:nth-child(1) {
	color: var(--bs-cyan);
	font-size: 1.7rem !important;
}
.top-3rd > td:nth-child(1) {
	color: var(--bs-blue);
	font-size: 1.7rem !important;
}

@media only screen and (max-width: 820px) {
	.menu {
		position: static;
	}
}
