extend ../layouts/common.pug

block content 
     .d-flex.justify-content-center.align-items-center.flex-column
          i.bi.bi-exclamation-triangle-fill(style="font-size: 100px")
          h1 404 Not Found
          h4 Page not found